openapi: 3.2.0
info:
  title: Fitbit Nutrition Foods API
  description: 'Read and write food, water, meal, and nutrition data for Fitbit users.

    Provides access to the Fitbit food database, user food logs and favorites,

    water logs, meal goals, daily food summaries with macronutrient breakdowns,

    and food/water time series.'
  version: '1'
  contact:
    name: Fitbit Developer
    url: https://dev.fitbit.com/build/reference/web-api/nutrition/
servers:
- url: https://api.fitbit.com
security:
- OAuth2:
  - nutrition
tags:
- name: Foods
paths:
  /1/foods/search.json:
    get:
      summary: Search Foods
      description: Searches the Fitbit foods database for foods matching the query.
      operationId: searchFoods
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  foods:
                    type: array
                    items:
                      $ref: '#/components/schemas/Food'
      tags:
      - Foods
components:
  schemas:
    Food:
      type: object
      properties:
        accessLevel:
          type: string
        brand:
          type: string
        calories:
          type: integer
        defaultServingSize:
          type: number
        defaultUnit:
          type: object
        foodId:
          type: integer
        name:
          type: string
        units:
          type: array
          items:
            type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.fitbit.com/oauth2/authorize
          tokenUrl: https://api.fitbit.com/oauth2/token
          scopes:
            nutrition: Food and nutrition data
